# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build outputs
dist
dist-ssr
storybook-static
coverage

# Environment files
.env
.env.*
!.env.example

# Runtime data
*.pid
*.seed
*.pid.lock

# Caches
.cache
.parcel-cache
.vite
.turbo

# OS / Editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
*storybook.log
*.local
